<app-navbar></app-navbar>

<!-- breadcrumb section start -->
<section class="breadcrumb-section">
    <!-- breadcrumb wapper start -->
    <div class="breadcrumb-wapper" style="background-image: url(assets/background/durga.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- breadcrumb content start -->
                    <div class="breadcrumb-content">
                        <!-- breadcrumb title start -->
                        <div class="breadcrumb-title">
                            <h1>Contact</h1>
                        </div>
                        <!-- breadcrumb title end -->
                        <!-- nav start -->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Contact</li>
                            </ol>
                        </nav>
                        <!-- nav end -->
                    </div>
                    <!-- breadcrumb content end -->
                </div>
            </div>
        </div>
        <!-- breadcrumb shape bottom start -->
        <div class="breadcrumb-shape-bottom">
            <figure>
                <img src="assets/shape/shape.png" alt="breadcrumb shape">
            </figure>
        </div>
        <!-- breadcrumb shape bottom end -->
    </div>
    <!-- breadcrumb wapper end -->
</section>
<!-- breadcrumb section end -->

<!-- contact section start -->
<section class="contact-section pt-100 md-pt-80 md-pb-50 pb-50">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <!-- section title start -->
                <div class="section-title wow fade-up">
                    <span class="sub-title">Contact Me</span>
                    <h2>Stay connect with us today</h2>
                </div>
                <!-- section title end -->
                <!-- contact item wrapper start -->
                <div class="contact-item-wrapper wow fade-up" data-wow-delay=".3s">
                    <!-- contact items start -->

                    <!-- <div class="contact-item">
                        <div class="contact-icon"><i class="fa-solid fa-phone-volume"></i></div>
                        <div class="contact-content">
                            <p>Call Now</p>
                            <h3> +44 7438357048</h3>
                        </div>
                    </div> -->
                    <div class="contact-item">
                        <div class="contact-icon"><i class="fa-solid fa-location-dot"></i></div>
                        <div class="contact-content">
                            <p class="main-ent">Main Entrance Address</p>
                            <h3 class="main-add">70 Moira Street
                                Leicester, UK
                                LE4 6LA</h3>
                        </div>
                    </div>
                    <!-- contact items end -->
                    <!-- contact items start -->
                    <div class="contact-item">
                        <div class="contact-icon"><i class="fa-solid fa-envelope"></i></div>
                        <div class="contact-content">
                            <p>Email</p>
                            <h3>shaktimandirshree@gmail.com</h3>
                        </div>
                    </div>
                    <!-- contact items end -->
                    <!-- contact items start -->
                    <!-- <div class="contact-item">
                        <div class="contact-icon"><i class="fa-solid fa-location-dot"></i></div>
                        <div class="contact-content">
                            <p>Main Entrance Address</p>
                            <h3>70 Moira Street
                                Leicester, UK
                                LE4 6LA</h3>
                        </div>
                    </div> -->
                    <div class="contact-item">
                        <div class="contact-icon"><i class="fa-solid fa-phone-volume"></i></div>
                        <div class="contact-content">
                            <p>Call Now</p>
                            <h3> +44 (0) 7438357048</h3>
                        </div>
                    </div>
                    <div class="contact-item">
                        <div class="contact-icon"><i class="fa-solid fa-location-dot"></i></div>
                        <div class="contact-content">
                            <p>Registered Address</p>
                            <h3>73 Canon Street
                                Leicester
                                LE4 6NH United Kingdom</h3>
                        </div>
                    </div>
                    <!-- contact items end -->
                    <!-- contact items start -->
                    <div class="contact-item">
                        <div class="contact-icon"><i class="fa-solid fa-share-nodes"></i></div>
                        <div class="contact-content">
                            <p>Social Media</p>
                            <ul class="social-icon">
                                <li>
                                    <a href="#" aria-label="instagram"><i class="fa-brands fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/shaktimandirleicester/?locale=en_GB"
                                        aria-label="facebook"><i class="fa-brands fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#" aria-label="youtube"><i class="fa-brands fa-youtube"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.tiktok.com/@shree.shakti.mand?_r=1&_t=ZN-96UZy11bAqE"
                                        aria-label="tiktok">
                                        <i class="fa-brands fa-tiktok"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- contact items end -->
                </div>
                <!-- contact item wrapper end -->
            </div>
            <div class="col-lg-6">
                <!-- contact form box start -->
                <div class="contact-form-box">
                    <div class="section-title">
                        <span class="sub-title">Send us email</span>
                        <h2>Feel free to write</h2>
                    </div>
                    <!-- default-form start -->
                    <div class="default-form contact-form">
                        <form [formGroup]="contactForm" (ngSubmit)="submitContactForm()" id="contact"
                            novalidate="novalidate">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <div class="field-inner">
                                            <label for="name">Full Name*</label>
                                            <input id="name" class="form-control" name="name" type="text"
                                                autocomplete="off" placeholder="Ex. Fullname" required="required"
                                                formControlName="name">
                                            <span class="error text-danger" *ngIf="contactForm.get('name')?.touched &&
             contactForm.get('name')?.errors?.['required']">
                                                FullName is required
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <div class="field-inner">
                                            <label for="email">Email*</label>
                                            <input id="email" class="form-control" name="email" type="email"
                                                autocomplete="off" placeholder="Ex. info@example.com"
                                                required="required" formControlName="email">
                                            <span class="error text-danger" *ngIf="contactForm.get('email')?.touched &&
             contactForm.get('email')?.errors?.['required']">
                                                Email is required
                                            </span>

                                            <span class="error text-danger" *ngIf="contactForm.get('email')?.touched &&
             contactForm.get('email')?.errors?.['email']">
                                                Please enter a valid email address
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <div class="field-inner">
                                            <label for="phone">Phone Number*</label>
                                            <input id="phone" class="form-control" name="phone" type="text"
                                                autocomplete="off" placeholder="Ex.+44 (0) 9876543210"
                                                required="required" formControlName="phoneNumber">
                                            <!-- <span class="error" id="phone-error"></span> -->
                                            <span class="error text-danger" *ngIf="contactForm.get('phoneNumber')?.touched &&
             contactForm.get('phoneNumber')?.errors?.['required']">
                                                Phone number is required
                                            </span>

                                            <span class="error text-danger" *ngIf="contactForm.get('phoneNumber')?.touched &&
             contactForm.get('phoneNumber')?.errors?.['pattern']">
                                                Phone number must be 10 digits
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6">

                                    <div class="form-group">

                                        <div class="field-inner">

                                            <label for="subject">
                                                Enquiry Type*
                                            </label>


                                            <div class="custom-select-wrapper">
                                                <select id="subject" class="form-control custom-select" name="subject"
                                                    formControlName="enquiryType">

                                                    <option value="">Select Enquiry Type</option>
                                                    <option value="General Enquiry">General Enquiry</option>
                                                    <option value="Daily Aarti & Pooja">Daily Aarti & Pooja</option>
                                                    <option value="Bhog Seva">Bhog Seva</option>
                                                    <option value="Dining Hall">Dining Hall</option>
                                                    <option value="Marriage Ceremony">Marriage Ceremony</option>
                                                    <option value="Yagna & Havan">Yagna & Havan</option>
                                                    <option value="Festival Celebrations">Festival Celebrations</option>
                                                    <option value="Prasad Seva">Prasad Seva</option>
                                                </select>

                                                <i class="fa-solid fa-angle-down select-icon">
                                                </i>
                                                <span class="error text-danger" *ngIf="contactForm.get('enquiryType')?.touched &&
             contactForm.get('enquiryType')?.errors?.['required']">
                                                    Please select enquiry type
                                                </span>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <div class="field-inner">
                                            <label for="message">Message*</label>
                                            <textarea id="message" class="form-control" name="message"
                                                autocomplete="off" placeholder="Ex. type messege" required="required"
                                                formControlName="message"></textarea>
                                            <span class="error text-danger" *ngIf="contactForm.get('message')?.touched &&
             contactForm.get('message')?.errors?.['required']">
                                                Message is required
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="contact-btn-wapper mt-10">
                                        <button type="submit" class="theme-button style-1" data-text="Send Message">
                                            <span data-text="Send Message">Send Message</span>
                                            <i class="fa-solid fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="ajax-response"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact section end -->

<!-- Google Map start -->
<div class="google-map">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 p-0">
                <!-- google map iframe start -->
                <div class="google-map-iframe">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2420.4376794566792!2d-1.1197208240640353!3d52.652071626443906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48776109811a5641%3A0x7d33c7c5031f028a!2s70%20Moira%20St%2C%20Leicester%2C%20UK!5e0!3m2!1sen!2sin!4v1779873523786!5m2!1sen!2sin"
                        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                        title="google map"></iframe>
                </div>
                <!-- google map iframe end -->
            </div>
        </div>
    </div>
</div>
<!-- Google Map end -->

<app-footer></app-footer>


<div class="modal fade show" tabindex="-1" *ngIf="isSuccessModal" style="display:block; background:rgba(0,0,0,.5);">

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content conatct-form">

            <div class="modal-header">
                <h5 class="modal-title text-white">{{ modalTitle }}</h5>

                <button type="button" class="btn-close" (click)="isSuccessModal=false">
                </button>
            </div>

            <div class="modal-body text-center">
                <p>{{ modalMessage }}</p>
            </div>

            <div class="modal-footer justify-content-center">
                <button class="btn contact-ok" (click)="isSuccessModal=false">
                    OK
                </button>
            </div>

        </div>
    </div>

</div>